/* CSS declarations go here
  Autor: David B.
*/

body{
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 16px;
  padding-bottom: 20px;
}

button{
  display: inline-block;
  background: white;
  background-color: #0066ff;
  min-width: 190px;

  border: thin solid #888;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  font-weight: bold;
  font-size: 19px;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}
button:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(0, 71, 179);
}

textarea{
  font-size: 16px;
}

.toot-table{
  margin-right: 20px;
  margin-left: 20px;
}

.containerMain{
  display: block;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

.center{
  height: 200px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

.postPrev{
  width: 800px;
  height: auto;
  margin: 5px;
  border: solid rgba(0,0,0,0.6) 4px;
  padding: 4px;
}

.postPrev:hover{
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
}

.postPrev_Header{
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: red;
}

.postPrev_Date{
  font-size: 10px;
  text-align: right;
}

.post{
  width: 800px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.image_holder{
  width: 800px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
}

.post_Header{
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
}

.post_Text{
  min-height: 400px;
}

.post_Date{
  font-size: 15px;
  text-align: right;
}

.go_Back{
}

.highlightContainer{
  margin-top: 15px;
  margin-bottom: 15px;
}

.login_table{
  margin-left: 50px;
}

.login_table_head{
  margin-bottom: 10px;
  font-size: 20px;
}

.Login{
  text-align: center;
  border: 1px solid #cccccc;
  background: white;
  border-radius: 4px;
  padding: 8px 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: #333;
  line-height: 2;
}

.foot{
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-left: -1.875rem;
  margin-right: -1.875rem;
  padding: 2rem 1rem 1rem 1rem;
}
