<template name="editor">
  <div>Titel:<br/><textarea id="title" rows="1" cols="80">{{title}}</textarea></div>
  <div>Img-Link:<br/><textarea id="image_link" rows="1" cols="80">{{image}}</textarea></div>
  <div>Text:<br/><textarea id="text" rows="20" cols="160">{{textformater text}}</textarea></div>
  {{#if _id}}
    <button id="{{_id}}" class="edit">editieren</button><button id="{{_id}}" class="delete">Löschen</button>
    <label for="changeDate">Change Date</label>
    <input type="checkbox" id="changeDate" value="true">
  {{else}}
    <button class="save">Speichern</button>
  {{/if}}
</template>

<template name="postAImage">
  <div class="whiteBox center">
    <div>
      <label for="image_link">Img-Link:</label>
      <input id="image_link" type="url">
    </div>
    <button class="save">Speichern</button>
  </div>
</template>
