<template name="postPrev">
  <a class="afree" href="/artikel/{{_id}}">
    <div class="postPrev" id="{{_id}}" title="Oeffne artikel" >
      <div class="postPrev_Header"><div class="postPrev_HeaderContent">{{title}}</div></div>
      <div class="postPrev_Text">{{textshorter}}</div>
      <div class="postPrev_Date">{{dateHelper}}</div>
      <div class="postPrev_Tags">
        {{#each tag in tags}}
          {{> Tag tag}}
        {{/each}}
      </div>
    </div>
  </a>
</template>

<template name="highlightUi">
  <div class="highlightContainer">
    <div id="highlight_1" class="highlight">
      Text 1
    </div>
    <div id="highlight_2" class="highlight" style="display: none">
      Text 2
    </div>
    <div id="highlight_3" class="highlight" style="display: none">
      Text 3
    </div>
    <button class="before">Before</button><button class="next">Next</button>
  </div>
</template>
