<template name="textPrevLoader">
  <div class="underTitel">
    <div class="underTitelContent">News</div>
  </div>
  <div class="">
    <div class="text_prev_container">
      {{#each post in loadPosts}}
        {{>postPrev post}}
      {{/each}}
    </div>
    <div class="">
    </div>
  </div>
  {{#if isInRole 'admin'}}
    <button class="create_Post">Neues Post erstellen</button>
  {{/if}}
</template>

<template name="imagePrevContainerAfterLoad">
  <div class="imagePrevContainer_ul">
    {{#each post in loadPosts}}
      {{>imagePrev post}}
    {{/each}}
  </div>
</template>

<template name="imagePrevContainer">
  <div class="underTitel">
    <div class="underTitelContent">Neusten</div>
  </div>
  <div class="imagePrevContainer">
    <div class="imagePrevContainer_ul">
      {{#each post in loadPosts}}
        {{>imagePrev post}}
      {{/each}}
    </div>
  </div>
  <div style="text-align: center">
    <button class="loadmore">ladeMehr</button>
  </div>
</template>

<template name="postPrev">
  <a class="afree" href="/artikel/{{_id}}">
    <div class="postPrev" id="{{_id}}" title="Oeffne artikel" >
      <div class="postPrev_Header"><div class="postPrev_HeaderContent">{{title}}</div></div>
      <div class="postPrev_Text">{{textshorter}}</div>
      <div class="postPrev_Date">{{dateHelper}}</div>
      <div class="postPrev_Tags">
        {{#each tag in tags}}
          {{> Tag tag}}
        {{/each}}
      </div>
    </div>
  </a>
</template>

<template name="highlightUi">
  <div class="highlightContainer">
    <div class="highlightImage">
      <div id="highlightImage_holder" class="highlightImage_holder">
        <div id="highlightImage_holder_back" class="highlightImage_holder_back">
        </div>
      </div>
      <div class="highlightImage_share">
        share
      </div>
    </div>
  </div>
</template>

<template name="imagePrev">
  <div id="{{_id}}" class="imagePrev" >
    <div class="image_container" style="background-image: url({{url}})">

    </div>
    <div class="shareButtons">
      <div class="shareButton">
        <a href="https://www.facebook.com/share.php?u=http://localhost:3000/"><img src="/FB-f-Logo__blue_29.png" alt="Facebook Logo Blue"></a>
      </div>
      <div class="shareButton">
        <a href="https://www.twitter.com"><img src="/Twitter_Logo_White_On_Blue.png" alt="Twitter Logo"></a>
      </div>
    </div>
    <div id="{{url}}" class="image_prev_share">
      share
    </div>
    <div class="postPrevImage_Date">
      {{dateHelper}}
    </div>
  </div>
</template>
